/* base.css */
/* Del html usa "rem", adaptativo en android y otros dispositivos xD */
html {
  font-size: 16px;
}
body {
  font-family: 'Pixelify Sans', sans-serif;
}
img {
 max-width: 100%;
 height: auto;
 display: block;
 margin: 5px 5px 5px 5px;
 padding: 5px 5px 5px 5px;
}
button {
 border: none;
 border-radius: 8px;
 cursor: pointer;
 justify-content: center;
}
.img2 {
 border-radius: 50px;
 width: 250px;
}
figure {
 text-align: center;
}
/* Evitar zoom y alargamiento */
.main {
  max-width: 200px;
  margin: auto;
  padding: 1.5rem;
}
.contenedor {
 display: flex;
 justify-content: center;
 margin-bottom: 10px;
 align-items: center;
 gap: 20px;
}
.info {
 display: flex;
 flex-direction: column;
 gap: 5px;
}
.caja {
 display: flex;
 justify-content: center;
 padding: 10px;
 margin: 10px 0;
 margin-bottom: 15px;
 border-radius: 20px;
}
.textoBase {
 font-size: var(--size);
 font-weight: bold;
 text-align: center;
}
.Titulo {
 --size: 2rem;
}
.Texto {
 --size: 1.5rem;
}
.Hab {
 --size: 1.1rem;
}
.Link {
 --size: 2rem;
}