html {
  font-size: 16px;
}

body {
 background-color: #000000;
 color: #ddd;
}

button {
 background-color: #7F00FF;
 color: #000000;
 padding: 12px 20px;
 font-size: 16px;
}

.textBase {
 font-size: var(--size);
 font-weight: bold;
 text-align: center;
}

.texto {
 --size: 3rem;
}

.textTitulo {
 --size: 4rem;
}

.textBoton {
 --size: 5rem;
}


#poema {
    color: #ddd;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}

.fade {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade.mostrar {
    opacity: 1;
    transform: translateY(0);
}

#contenedor {
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 40px;
}

#final {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #FF69B4;
}

.bordes {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background:
        radial-gradient(circle at -20px -20px, red 25px, transparent 26px),
        radial-gradient(circle at calc(100% + 20px) -20px, red 25px, transparent 26px),
        radial-gradient(circle at -20px calc(100% + 20px), red 25px, transparent 26px),
        radial-gradient(circle at calc(100% + 20px) calc(100% + 20px), red 25px, transparent 26px),
        radial-gradient(circle at 50% -20px, red 20px, transparent 21px),
        radial-gradient(circle at 50% calc(100% + 20px), red 20px, transparent 21px),
        radial-gradient(circle at -20px 50%, red 20px, transparent 21px),
        radial-gradient(circle at calc(100% + 20px) 50%, red 20px, transparent 21px);
}