body {
 background-color: #8B0000;
}
img {
 box-shadow: 10px 10px 20px rgba(202,98,18,0.9);
}
button {
 background-color: #87CEFA;
 color: white;
 padding: 12px 20px;
 font-size: 16px;
}
button:hover {
 background-color: #FF6F6F;
}
.img2 {
 box-shadow: 30px 30px 100px rgba(202,98,18,1);
}
.caja {
 background-color: orange;
}
.Titulo {
 color: #00008B;
}
.Texto {
 color: #00008B;
}
.Hab {
 color: #00008B;
}
.Link {
 color: #00008B;
}

